*
!.gitignore
!package.json
!src/
!src/**
!scripts/
!scripts/build.js
!scripts/cloudflare_autobuild.sh
!.github/
!.github/**
!README_fa.md
!README.md
!RELEASE.md
!NAT64Prefixes.md
!docs
!docs/**
!README_zh.md