:root {
    --color: black;
    --primary-color: #09639f;
    --header-color: #09639f;
    --background-color: #fff;
    --form-background-color: #f9f9f9;
    --lable-text-color: #333;
    --h2-color: #3b3b3b;
    --border-color: #ddd;
    --input-background-color: white;
    --header-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

body {
    font-family: system-ui;
    background-color: var(--background-color);
    color: var(--lable-text-color);
    text-align: center;
}

body.dark-mode {
    --color: white;
    --primary-color: #09639F;
    --header-color: #3498DB;
    --background-color: #121212;
    --form-background-color: #121212;
    --lable-text-color: #DFDFDF;
    --h2-color: #D5D5D5;
    --border-color: #353535;
    --input-background-color: #252525;
    --header-shadow: 2px 2px 4px rgba(255, 255, 255, 0.25);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    padding: 20px;
}

h1 {
    color: var(--header-color);
    text-shadow: var(--header-shadow);
}

.icon {
    vertical-align: middle;
    height: 3rem;
}

h2 {
    color: var(--h2-color)
}

h3 {
    color: var(--lable-text-color);
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: var(--form-background-color);
    border: 1px solid var(--border-color);
    border-radius: 28px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.value-container {
    color: var(--lable-text-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.output-container {
    width: 100%;
    padding: 8px;
    text-align: center;
    background-color: var(--input-background-color);
    color: var(--lable-text-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
}

.copy-icon {
    cursor: pointer;
    transition: color 0.2s;
}

.copy-icon:hover {
    color: #2980b9;
}

button {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 12px;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover,
.button:focus {
    background-color: #2980b9;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.button:active {
    transform: translateY(1px);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.button:active {
    transform: translateY(1px);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.material-symbols-rounded {
    cursor: pointer;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.refresh-geo-location {
    background: none;
    margin: 0;
    border: none;
    cursor: pointer;
}

@media only screen and (min-width: 576px) {
    .container {
        width: 70%;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        width: 50%;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        width: 40%;
    }
}